h1 {
	font-family: cursive;
}

th {
	background-color: silver;
}

#table1 {
	margin-bottom: 0px;
}

tr, td {
	width: 100vh;
}

.thid {
	width: 50px;
}
.tdid {
	width: 49px;
}

.thtime {
	width: 150px;
}
.tdtime {
	width: 147px;
}

.thto {
	width: 110px;
}
.tdto {
	width: 108px;
}

.from {
	width: 295px;
}

.cName {
	width: 220px;
}

.sender {
	width: 100px;
}

.thmsg {
	width: 206px;
}

.tdmsg {
	width: 200px;
}

.thname {
	width: 136px;
}

.tdname {
	width: 132px;	
}