@charset "UTF-8";

input {
    margin: 5px;
}

#company, #toName {
	width: 80%;
}

#alert {
	color: red;
}

#paragraph {
	font-size: 20px;
}

a {
  text-decoration:none;
  color: white;
}

h1 {
	font-family: cursive;
}